---
category: index
lang: en
title: Off the beaten track
shortname: Hiking, Nature, Culture and Gastronomy on the Costa Blanca

description: " Oxytours offers you quality nature tourism, innovative tours off the beaten track, with a respectful  approach to the environment bursting with intense flavours and extraordinary colours. Tracks for discover the real Costa Blanca."

Photos:
- item: home_01.jpg
- item: home_02.jpg
- item: home_03.jpg
---

<div class="content content--index">
	<div class="row featured">
		<div class="column medium-6">
			<div class="featuredCard box box--double text-center">
				<img src="../img/icon_roots.png" alt="">
				<h3>Culture & Heritage</h3>
				<p>Discover the incredibly rich culture and wealth of traditional cuisine found in the hidden mountains and valleys of the Costa Blanca.</p>

				<a href="roots.html" class="button small">
					Select your tailor-made experience
				</a>
			</div>
		</div>
		<div class="column medium-6">
			<div class="featuredCard box box--double text-center">

				<img src="../img/icon_wings.png" alt="">
				<h3>Feathers & Foliage</h3>
				<p>Explore the exceptional, protected, natural heritage of the Costa Blanca. Unique flora, bird sanctuaries, nature reserves and coastline.</p>

				<a href="wings.html" class="button small">
					Select your tailor-made experience
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<h3 class="section-title text-center">
				This year give a present they will remember forever
			</h3>
			<div class="row u-mgt">

				{{#each pages}}

				{{#is data.category 'route'}}

					{{#if data.featured}}

						<div class="column medium-4 large-3 route">
							<a href="{{filename}}">
								<div class="itemCard box">

									<div class="ribbon">
										<img class="ribbon-icon" src="../img/icon_{{data.tag}}.png" alt="">
									</div>
									<img src="../img/{{data.Thumbnail}}" alt="">
									<div class="itemCard-content">
										<p class="itemCard-location">
											{{data.shortname}}
										</p>

										<h4 class="itemCard-title">
											{{data.title}}
										</h4>
									</div>

								</div>
							</a>
						</div>

					{{/if}}

				{{/is}}

				{{/each}}

			</div>
		</div>
	</div>
<a name="whoweare"></a>
	<div class="row">
		<div class="column">
			<h3 class="section-title text-center">
				Who we are
			</h3>
			<div class="row">
				<div class="column large-6">
					<img class="u-mgb box" src="../img/fran.jpg" alt="">
					<cite>
						The beauty of the Costa Blanca is our passion and we would like to share it with you
					</cite>
					<p>
						Oxytours is an Alicante based tourist service that caters for the discerning tourist. Our personnel have a wealth of expertise to ensure your complete enjoyment and safety as you are immersed in the richness of the Costa Blanca. However, we also offer touring options in neighbouring regions such as Castilla La Mancha and Andalucia.
					</p>
					<p>
						At Oxytours our clients enjoyment is of paramount importance and nothing is too much trouble to accomplish your wishes. Should you have specific requirements you only have to let us know and we will do our best to give you exactly what you want.
					</p>
					<p>
						Whether you choose Birdwatching, History, Hiking, Sailing or just wish to experience an explosion of natural beauty and flavours; you can be assured of our undivided attention at all times.
					</p>
					<cite>
						So much more than just a tour
					</cite>
				</div>
				<div class="column large-6">
					<img class="u-mgb box" src="../img/anabel.jpg" alt="">
					<cite>
						How can Oxytours enrich your stay on the Costa Blanca?
					</cite>
				</div>

				<div class="column large-6">
					<p>
						1. Quality and Professionalism: Unlike others we take great care and pay attention to every detail of our tours to give you an experience that will be beyond your expectations.
					</p>
					<p>
						2. Passion and Creativity: We are far more than just guides and this comes across in our passion for our heritage as we use every available tool at our disposal so that you feel completely immersed in our history, traditions , nature and culture.
					</p>
					<p>
						3.Discovery: Our specialised knowledge of little known wonders ensures the discovery of hidden treasures not seen by tourism en masse. We resurrect forgotten stories of the past and walk through lands that are practically unseen by today's visitors. Our hand picked selection of authentic restaurants will present you with traditional exquisite Alicantina cuisine.
					</p>
					<p>
						4.Preserving our culture and terrain: We are not merely a business, we invest a percentage of all revenue in conservation of our Costa Blanca treasures and you will play a part in this preservation. Discover how...
					</p>
					<cite>
						Oxytours offers you quality nature tourism, innovative tours off the beaten track, with a respectful  approach to the environment bursting with intense flavours and extraordinary colours
					</cite>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="column text-center section-title">
			<img src="../img/oxytours_inverse.svg" alt=""><br>
			<a class="button" href="form.html">
				Select your tailor-made experience
			</a>
			</div>
	</div>

</div>
